.ghost {
  animation: floating 5s ease infinite;
  animation-direction: alternate;
}

@keyframes floating {
  0% { top: 33%; opacity: 1; transform: rotateX(0) }
  30% { top: 40%; opacity: 0.8; transform: rotateX(10deg) }
  50% { top:33%; opacity: 0.6; transform: rotateX(25deg) }
  70% { top:25%; opacity: 0.3; transform: rotateX(40deg) }
  100% { top:33%; opacity: 0.05; transform: rotateX(50deg) }
}
