$gap : 4vh;
$padding : 4vh;
$bg_color: #030303;
$shadow_color: #999;
$text_color: #fff;
$alt_color : #48CAE4;
$highlight_color: #33d06c;
$font_size: 18px;
$font-weight: 500;
$line_height: $font_size * 2;
$secondary_font: 'Playfair Display', serif;
$primary_font: 'IBM Plex Mono', monospace, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

$bp : (
  desktop : 1440px,
  tablet : 768px,
  mobile : 480px,
);
