@use "sass:math";
@import 'mixins';
@import 'variables';
@import "~bootstrap/scss/bootstrap";

.container {
  height: 100vh
}

main {
  height: calc(100vh - 120px);
  overflow: hidden;
  overflow-y: scroll;
  flex: 1;
}

footer {
  // flex: 1;
  height: 45px;
}

.secondary_font {
  font-family: $secondary_font;
}

.smaller {
  font-size: 0.675em;
}

mark {
  // background-color: $primary;
  // color: $body-bg;
  background-color: transparent;
  color: #fff;

  &::before {
    content: " [highlight start] ";
  }

  &::after {
    content: " [highlight end] ";
  }

  &::before,
  &::after {
    clip-path: inset(100%);
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
}

.offcanvas-top {
  height: auto;
  height: 90px;
  // margin-top: -1rem !important;
  transition-timing-function: ease-in-out;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  transition: visibility all .5s ease-in-out;

  @include query('mobile') {
    height: 100vh;
  }

  .btn-close {
    top: 3.25rem;
    right: 3.25rem;
  }
}
