@use "sass:math";
@import 'variables';

.menu-btn {
  width: 60px;
  gap: math.div($gap, 5);
  // margin-right: 50%;
  // transition: transform 330ms ease-out;
  // transform: translateX(25%);

}

.line {
  border-radius: 5px;
  height: 3px;
}

.start {
  transform-origin: right;
  transition: transform 330ms cubic-bezier(.54,-.81,.57,.57);
}

.end {
  align-self: flex-end;
  transform-origin: left;
  transition: transform 330ms cubic-bezier(.54,-.81,.57,.57);
}
